<div class="col-md-8" *ngIf="artist">

  <h2>{{ artist.displayName }}</h2>

  <h3>Edit Profile</h3>

  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Last name:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="artist.artist_last_name" placeholder="Last name" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">First name:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="artist.artist_first_name" placeholder="First name" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Display name:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="artist.artist_display_name" placeholder="Display name" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Alias:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="artist.artist_aliasi" placeholder="Alias name" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">URL:</label>
      <div class="col-sm-10">
        <input [(ngModel)]="artist.artist_url" placeholder="URL" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Biography:</label>
      <div class="col-sm-10">
        <textarea [(ngModel)]="artist.artist_bio" placeholder="Biography" cols="50" rows="10" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Biography (more):</label>
      <div class="col-sm-10">
        <textarea [(ngModel)]="artist.artist_bio_more" placeholder="Biography (more)" cols="50" rows="10" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <ul class="list-inline">
          <li><button (click)="save()" class="btn btn-primary">Save</button></li>
          <li><button (click)="goBack()" class="btn btn-default">Cancel</button></li>
        </ul>
      </div>
    </div>

  </div>
</div>