<section id="main-content" class="col-md-8" *ngIf="artist">
  <h2>{{ artist.displayName }}</h2>

  <h3>Delete</h3>

  <p>
    You are about to delete <strong>{{ artist.artist_display_name }}</strong> from the database. Deleting an artist also removes all albums, releases and tracks related to this artist.
  </p>

  <p>
    Are you sure you want to do this?
  </p>

  <ul class="list-inline">
    <li><button (click)="delete( artist )" class="btn btn-warning">Yes, delete {{ artist.artist_display_name }}</button></li>
    <li><button (click)="goBack()" class="btn btn-default">No, do not delete {{ artist.artist_display_name }}</button></li>
  </ul>




</section>
