<section id="main-content" class="col-md-8">
    <h2>Artists</h2>

    <h3>Browse</h3>

    <ul class="list-inline">
        <li><a routerLink="/artists/artist/add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add an artist</a></li>
    </ul>

    <ul class="two-column-bubble-list">
        <li *ngFor="let artist of artists">
            <div>
                <ul class="list-inline">
                    <li><a routerLink="/artists/artist/{{ artist.artist_id }}/edit"><span class="glyphicon glyphicon-pencil"></span> <span class="sr-only">Edit</span></a></li>
                    <li><a routerLink="/artists/artist/{{ artist.artist_id }}/delete"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Delete</span></a></li>
                    <li><a routerLink="/artists/artist/{{ artist.artist_id }}">{{ artist.artist_display_name }}</a></li>
                </ul>
            </div>
        </li>
    </ul>
</section>

<aside id="sidebar" class="col-md-4">
</aside>
