<section id="main-content" class="col-md-8" *ngIf="artist">
    <h2>{{ artist.displayName }}</h2>

    <h3>Profile</h3>

    <ul class="list-inline">
        <li><a href="/artists/artist/{{ artist.artist_id }}/edit" class="btn btn-primary">Edit</a></li>
        <li><a href="/artists/artist/{{ artist.artist_id }}/delete" class="btn btn-warning">Delete</a></li>
    </ul>

    <ul class="two-column-bubble-list">
        <li>
            <div>
                <label>Last name:</label>
                {{ artist.artist_last_name }}
            </div>
        </li>
        <li>
            <div>
                <label>Display name:</label>
                {{ artist.artist_display_name }}
            </div>
        </li>
        <li>
            <div>
                <label>Alias:</label>
                {{ artist.artist_alias }}
            </div>
        </li>
        <li>
            <div>
                <label>URL:</label>
                {{ artist.artist_url }}
            </div>
        </li>
    </ul>

    <app-albums></app-albums>
</section>

