<ol class="disc-list">
  <li>
    <div>
      <ul class="list-inline" *ngFor="let album of albums">
        <li><a routerLink="/albums/album/{{ album.album_id }}/edit"><span class="glyphicon glyphicon-pencil"></span> <span class="sr-only">Edit</span></a></li>
        <li><a routerLink="/albums/album/{{ album.album_id }}/delete"><span class="glyphicon glyphicon-remove"></span> <span class="sr-only">Delete</span></a></li>
        <li>
          <a routerLink="/albums/album/{{ album.album_id }}">{{ album.album_title }}</a>
        </li>
      </ul>
    </div>
  </li>
</ol>